<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            {{productInfo.id}} <br>
            {{productInfo.name}} <br>
            {{productInfo.description}} <br>
            {{productInfo.price}} <br>
            {{productInfo.count}} <br>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" type="submit" (click)="addToBasket()" class="btn btn-primary btn-sm mt-2">
                Add to basket
            </button>
        </div>
    </div>
</div>
