<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <ng-container *ngFor="let shopOrderItem of basketItem.orderItems">
                    <div class="col-4">
                        <div class="card car-card" style="margin: 15px;">
                            <div class="card-body">
                                <h3 class="card-title">{{shopOrderItem.product.name}}</h3>
                                <div class="row">
                                    <div class="col-sm-12 fotorama" data-height="300" data-nav="thumbs"
                                         style="display: flex; -o-justify-content: center; -webkit-justify-content: center; justify-content: center;">
                                        <!--                                @if (item.Photos.Count > 0) {-->

                                        <!--                                @foreach (var photo in item.Photos) {-->
                                        <!--                                <img src="@photo.Path" alt="">-->
                                        <!--                                }-->
                                        <!--                                }-->
                                        <!--                                else {-->
                                        <!--                                <img src="/img/no-image.jpg" alt="" style="height: 300px">-->
                                        <!--                                }-->
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12 mb-2">
                                        Description:
                                    </div>
                                    <div class="col-12">
                                        {{shopOrderItem.product.description}}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12">
                                        Count: {{shopOrderItem.count}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-12">
            <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Your country</mat-label>
                        <input matInput placeholder="Your country" formControlName="country">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Your city</mat-label>
                        <input matInput placeholder="Your city" formControlName="city">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Your address</mat-label>
                        <input matInput placeholder="Your address" formControlName="address">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Additional comment</mat-label>
                        <textarea matInput placeholder="Additional comment" formControlName="comment"
                                  cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                                  cdkAutosizeMaxRows="10"></textarea>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" type="submit" class="btn btn-primary btn-sm mt-2"
                        [disabled]="!checkoutForm.valid">Checkout order
                </button>
            </form>
        </div>
    </div>
</div>
