<app-header></app-header>
<main>
    <div class="container">
        <div class="row mb-2">
            <div class="col-8">
                <h2>Order #{{orderInfo.id}} from {{orderInfo.createdDate}}</h2>
            </div>
            <div class="col-4">
                <h2>Status <span class="badge bg-primary">{{getOrderStatusString(orderInfo.status)}}</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header">Shop details</div>
                            <div class="card-body">
                                <div class="mb-2">
                                    Name: {{orderInfo.shop.name}} </div>
                                <div class="mb-2"> Email: {{orderInfo.shop.email}} </div>
                                <div> Phone: {{orderInfo.shop.phone}} </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header">Order details</div>
                            <div class="card-body">
                                <div class="mb-2">Cost: &dollar; {{orderInfo.cost}} </div>
                                <div class="mb-2">Country: {{orderInfo.country}} </div>
                                <div class="mb-2">City: {{orderInfo.city}} </div>
                                <div>Address: {{orderInfo.address}} </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header">Actions</div>
                            <div class="card-body">
                                <ng-container *ngIf="isOrderNew">
                                    <div class="d-flex justify-content-around">
                                        <button class="btn btn-danger" (click)="changeOrderStatus(orderStatus.Canceled)">Cancel order</button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="isOrderAccepted">
                                    <div class="d-flex justify-content-around">
                                        <button class="btn btn-danger" (click)="changeOrderStatus(orderStatus.Canceled)">Cancel order</button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">Order items</div>
                    <div class="card-body">
                        <div class="row">
                            <ng-container *ngFor="let item of orderInfo.items">
                                <div class="col-6">Product: {{item.productName}}</div>
                                <div class="col-3">Count: {{item.count}}</div>
                                <div class="col-3">
                                    <a [routerLink]="['/products/' + item.productId]" class="btn btn-primary">Product
                                        details</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</main>
