<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Update product</h2>
            </div>
            <div class="col-12">
                <form [formGroup]="editProductForm" (ngSubmit)="submitForm()">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Product name</mat-label>
                            <input matInput placeholder="Product name" formControlName="name"
                                   value="{{productInfo.name}}">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Product price</mat-label>
                            <input matInput placeholder="Product price" formControlName="price"
                                   value="{{productInfo.price}}">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Product discount</mat-label>
                            <input matInput placeholder="Product discount" type="number" formControlName="discount"
                                   value="{{productInfo.discount}}">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Product count</mat-label>
                            <input matInput placeholder="Product name" type="number" formControlName="count"
                                   value="{{productInfo.count}}">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Product description</mat-label>
                            <textarea matInput placeholder="Product description" formControlName="description"
                                      value="{{productInfo.description}}" cdkTextareaAutosize
                                      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                                      cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Categories</mat-label>
                            <mat-select formControlName="categoriesIds" multiple>
                                <mat-option *ngFor="let category of categories"
                                            [value]="category.id">{{category.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" class="btn btn-primary btn-sm mt-2"
                            [disabled]="!editProductForm.valid">Update product
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label class="btn btn-default p-0">
                    <input type="file" multiple (change)="selectFiles($event)"/>
                </label>
            </div>

            <div class="col-4">
                <button
                    class="btn btn-success btn-sm"
                    [disabled]="!selectedFiles"
                    (click)="uploadFiles()">
                    Upload
                </button>
            </div>
        </div>
    </div>
</main>
